body {
    background-color: rgb(230, 230, 230);
    color: rgb(20, 20, 20);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Raleway', sans-serif;
}

.logo {
    text-decoration: none;
}

#fuentes{
    height: 50%;
}

.arriba {
    border: 1px solid rgb(65, 20, 56);
    border-radius: 10px;
    background-color: rgb(65, 20, 56);
    width: 70px;
    height: 40px;
    opacity: 60%;
    transition: opacity .5s;
    margin-left: 15px;
    margin-bottom: 20px;
}

.arriba:hover {
    opacity: 100%;
} 

.navegador {
    font-size: 24px;
    transition: all;
    color: white;
    width: 50%;
    transition: transform 0.4s;
}

.navegador:hover {
    transform: scale(1.2);
    color: white;
}

.habilidades-oscuro {
    background-color: rgba(40, 0, 85, 0.8);
    color: rgb(230, 230, 230);
}

.dark-mode {
    background-color: rgb(08, 0, 28);
    color: rgb(230, 230, 230);
}
.imagenes {
    min-height: 50vh;
    width: 50vh;
    transition: 0.3s;
}
.imagenes:hover{
    transform: scale(102%);
    margin-bottom: 2%;
}
.img-thumbnail{
    background-color: rgb(56, 0, 90) !important;
    border-color: rgb(56, 0, 90) !important;
}
.nombre,
.email,
.mensaje {
    background-color: rgba(196, 194, 194, 0.8);
    color: black;
    transition: background-color .3s;
}

.nombre:focus,
.email:focus,
.mensaje:focus {
    background-color: rgba(212, 212, 212, 0.8);
    color: black;
}

.form-dark {
    background-color: rgba(114, 9, 184, 0.644);
    color: black;
    transition: background-color .3s;
}

.form-dark:focus {
    background-color: rgba(134, 12, 216, 0.644);
    color: white;
}

.interruptor {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    height: 10%;
}

.interruptor::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.interruptor.active {
    background: rgb(212, 138, 0);
    color: black;
}

.interruptor.active::after {
    right: 0;
    left: unset;
}

.interruptor span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.titulos {
    background-color: rgb(56, 0, 90);
}

.contenido {
    font-size: 22px;
    font-weight: 600;
    align-content: center;
}

.habilidades {
    padding-bottom: 90px;
    border: 1px solid purple;
}

.barras {
    border: 1px solid purple;
}

.carrusel-img {
    filter: brightness(0.8);
}

.front,
.bootstrap,
.figma,
.jq,
.php,
.team {
    background-color: purple;
    width: 0;
    padding-right: 20%;
    text-align: right;
    padding: 10px;
    font-weight: 700;
}
.enviar{
    background-color: purple;
    color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: none;
}
.ico:hover {
    transform: scale(110%);
    transition: all ease .3s;
}

.pie {
    margin-top: 5%;
    padding: 2rem;
}

.icono{
    border-color: grey !important;
    background-color: white !important;
}
.linke{
    color: purple;
}